<?xml version="1.0"?>
<!-- /**
 * @package Uxmill_B2bLogin
 * @copyright uxmill.co ${date}
 * @author durga
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="controller_action_predispatch">
		<observer name="b2blogin_controller_action_predispatch"
			instance="Uxmill\B2bLogin\Observer\ForceLoginObserver" />
	</event>
</config>
 